body {
  text-align: center;
  height: 100%;
  width: 100%;
  background-image:url("./static-content/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.main-menu-container {
  display: inline-block;
  max-width: 1280px;
  min-width: 1280px;
  min-height: 100 px;
  overflow: hidden;  
  opacity: 0.9;
  background-color: #0B2161;
  border-bottom: 1px solid #0174DF ; 
}

.logo {
  padding: 0;
  float: left;
  background-image:url("./static-content/logo.jpg");
}

a.logo {
  width:200px;
  height: 45px;
  display:block;
  background-size: cover;
}

.menu-right {
  padding: 10px;
  float: right;
}

.menu {
  color: #A9E2F3;
}
