body {
  text-align: center;
  height: 100%;
  width: 100%;
  background-image:url("./static-content/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.main-menu-container {
  display: inline-block;
  width: 1024px;
  min-width: 1024px;
  min-height: 100 px;
  overflow: hidden;  
  opacity: 0.9;
  background-color: #0B2161;
  border-bottom: 1px solid #0174DF ; 
}

.logo {
  padding: 0;
  float: left;
  background-image:url("./static-content/logo.jpg");
}

a.logo {
  width:200px;
  height: 45px;
  display:block;
  background-size: cover;
}

.menu-right {
  padding: 10px;
  float: right;
}

.menu-left {
  padding: 10px;
  float: left;
}

.menu, a {
  color: #A9E2F3;
  text-decoration: none;
  margin-right: 10px;
}

form {
  display: inline-block;
  width: 512px;
  min-width: 512px;
  min-height: 512px;
  overflow: hidden;  
  opacity: 0.9;
  color: #A9E2F3;
  background-color: #0B2161;
  border: 1px solid #0174DF ; 
  margin-top: 100px;
}

.text-primary {
  color: #A9E2F3;
  text-decoration: none;
}
